table {
	margin-left: auto;
	margin-right: auto;
}

.container {
	text-align: center;
}
  .boarder{
     border: 1px solid black;
  }

	

.left-half {
color: white;
   float: center;
  width: 100%;

}
.right-half {
  color: white;

  float: left;
  width: 50%;
}


.center-table {
  
  float: center;
  width: 100%;
  
    background-color: lightblue;
  text-align: left;
}


td:nth-child(1) {
	font-weight: bold;
}
td:nth-child(3) {
	color: red;
}
td:nth-child(4) {
	font-style: italic;
}

td: nth-child(5) {
	padding: 300px;
}


ul {
    list-style-type: circle;
}



.footer {
  
  float: left;
  width: 100%;
  background-color: black;
  text-align: center;
  color: silver;
}


